.page{
    width: 100vw;
    height:100vh;
    background: url(/public/spa/static/media/login_wraper.8ab0d297.jpg) navy;
    display: flex;
    .Boxlogin{
        width: 500px;
        height: 400px;
        margin: auto;
        background: #fff;
        border-radius: 5px;
        padding: 40px;

    }
    .button{
        width: 100%;
        border-radius: 32px;
    }
}